<body>
    <div class="divs">
        <div class="top">
          <div class="logo">
              <img src="/assets/logo.png" alt="">
          </div>
        </div>

        <div class="bottom">
            <h1>Welcome Back</h1>

            <div class="log-in">
                <form action="">
                   <div class="login-input">
                      <label for="">
                        Email Address
                      </label>
                      <input type="email" name="" id="" placeholder="Enter your Email Address">
                   </div>
                  
                   <div class="login-input">
                    <label for="">
                      Password
                    </label>
                    <input type="password" name="" id="" placeholder="Enter your Passsword">
                        <div class="forgot">
                            <div class="showpass">
                                <input type="checkbox" name="" id="">
                                <p>Show Password</p>
                            </div>

                            <div class="forgotpass">
                               <p> <a href="">Forgot Password?</a></p>
                            </div>
                        </div>
                   </div>

                   <div class="button">
                    <button (click)="onLogin()">LOG IN</button>


                   </div>
                </form>
            </div>
        </div>
    </div>
</body>