<div class="content">
    <div class="top">
        <div class="icons">
            <div class="left">
                <div class="address">
                    <img src="/assets/location.png" alt="">
                    <h6>Delivery Address</h6>
                </div>
            </div>
            <div class="right">
                <div class="notif">
                    <img src="/assets/notification.png" alt="">

                </div>
                <div class="bag">
                    <img src="/assets/bag.png" alt="">

                </div>
            </div>
        </div>
        <div class="search">
            <div class="search-div">
                <input type="text" name="" id="" placeholder="Search Hot Drinks, Cold Drinks, Snacks">
                <button type="button">
                    <img src="/assets/search.png" alt="">
                </button>
            </div>
        </div>
    </div>

    <div class="cat-head">
        <h2>Category</h2>
    </div>

    <div class="categories">
        <div class="cats">
            <div class="cat-divs" id="hot">
                <div>
                    <img src="/assets/hot.png" alt="">
                </div>
                <div>
                   <p> Hot Drinks</p>
                </div>
            </div>

            <div class="cat-divs" >
                <div>
                    <img src="/assets/cold.png" alt="">
                </div>
                <div>
                   <p> Hot Drinks</p>
                </div>
            </div>

            <div class="cat-divs" id="cold" >
                <div>
                    <img src="/assets/hot.png" alt="">
                </div>
                <div>
                   <p> Hot Drinks</p>
                </div>
            </div>
        </div>
    </div>

   
</div>
